/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.testing
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/css/
public/js/
/.php-cs-fixer.cache
/_ide_helper.php
/.phpstorm.meta.php
/phpstan.neon
/.phpunit.result.cache
app-modules/**/vendor
app-modules/**/resources/js/dist/*
/.phpactor.json
**/.DS_Store
public/api-docs/*
/_lighthouse_ide_helper.php
/programmatic-types.graphql
/schema-directives.graphql
/*tinkerwell.php
.vault-password

/caddy
frankenphp
frankenphp-worker.php
/rr
_temp_graphql_parse_ide_helper_models.php
/.bash_history
