/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.cache
.npm
.composer
.env
.env.backup
.env.production
.env.testing
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/css/
public/fonts/
public/js/
/.php-cs-fixer.cache
/_ide_helper.php
/_ide_helper.macros.php
/_ide_helper_models.php
/.phpstorm.meta.php
/phpstan.neon
/.phpunit.result.cache
app-modules/*/vendor
app-modules/**/resources/js/dist/*
/.phpactor.json
**/.DS_Store
/*tinkerwell.php
.vault-password
/rr
/.bash_history
**/psysh_history
.pdepend/
