services:
  advisingapp.local:
    build:
      target: development
      args:
        TOTAL_QUEUE_WORKERS: '${TOTAL_QUEUE_WORKERS:-1}'
        MULTIPLE_DEVELOPMENT_QUEUES: '${MULTIPLE_DEVELOPMENT_QUEUES:-false}'
    environment:
      SSL_MODE: "mixed"
      LANDLORD_MIGRATE: '${LANDLORD_MIGRATE:-true}'
      TENANT_MIGRATE: '${TENANT_MIGRATE:-true}'
      LARAVEL_SCHEDULER_ENABLED: '${LARAVEL_SCHEDULER_ENABLED:-true}'
      LARAVEL_QUEUE_ENABLED: '${LARAVEL_QUEUE_ENABLED:-true}'
      LARAVEL_OCTANE_WATCH: '${LARAVEL_OCTANE_WATCH:-false}'
      CACHE_CONFIG: '${CACHE_CONFIG:-false}'
      CACHE_ROUTES: '${CACHE_ROUTES:-false}'
      CACHE_VIEWS: '${CACHE_VIEWS:-false}'
      CACHE_EVENTS: '${CACHE_EVENTS:-false}'
      CACHE_ICONS: '${CACHE_ICONS:-false}'
      CACHE_FILAMENT_COMPONENTS: '${CACHE_FILAMENT_COMPONENTS:-false}'
      PUID: '${SPIN_USER_ID:-9999}'
      PGID: '${SPIN_GROUP_ID:-9999}'
      SQS_QUEUE: '${SQS_QUEUE:-default}'
      LANDLORD_SQS_QUEUE: '${LANDLORD_SQS_QUEUE:-landlord}'
      OUTBOUND_COMMUNICATION_QUEUE: '${OUTBOUND_COMMUNICATION_QUEUE:-outbound-communication}'
      AUDIT_QUEUE_QUEUE: '${AUDIT_QUEUE_QUEUE:-audit}'
      MEETING_CENTER_QUEUE: '${MEETING_CENTER_QUEUE:-meeting-center}'
      IMPORT_EXPORT_QUEUE: '${IMPORT_EXPORT_QUEUE:-import-export}'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.advisingapp-app.rule=HostRegexp(`advisingapp.local`, `{subdomain:[a-z0-9]+}.advisingapp.local`)"
      - "traefik.http.routers.advisingapp-app.entrypoints=websecure"
      - "traefik.http.routers.advisingapp-app.tls=true"
      - "traefik.http.services.advisingapp-app.loadbalancer.server.port=443"
      - "traefik.http.services.advisingapp-app.loadbalancer.server.scheme=https"
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - '.:/var/www/html'
    networks:
      - cgbs-development
    depends_on:
      - advisingapp-redis
      - advisingapp-mailpit
      - advisingapp-pgsql

  advisingapp-redis:
    image: 'redis:alpine'
    ports:
      - '${FORWARD_REDIS_PORT:-63791}:6379'
    volumes:
      - 'advisingapp-redis:/data'
    networks:
      - cgbs-development
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s

  advisingapp-mailpit:
    image: 'axllent/mailpit:latest'
    networks:
      - cgbs-development
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.advisingapp-mailpit.rule=Host(`mail.tools.advisingapp.local`)"
      - "traefik.http.routers.advisingapp-mailpit.entrypoints=websecure"
      - "traefik.http.routers.advisingapp-mailpit.tls=true"
      - "traefik.http.services.advisingapp-mailpit.loadbalancer.server.port=8025"
      - "traefik.http.services.advisingapp-mailpit.loadbalancer.server.scheme=http"

  advisingapp-pgsql:
    image: 'postgres:15'
    ports:
      - '${FORWARD_DB_PORT:-5432}:5432'
    environment:
      PGPASSWORD: '${DB_PASSWORD:-secret}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
    volumes:
      - 'advisingapp-pgsql:/var/lib/postgresql/data'
      - './docker/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
    networks:
      - cgbs-development
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}"]
      retries: 3
      timeout: 5s

networks:
  cgbs-development:
    external: true

volumes:
  advisingapp-redis:
    driver: local
  advisingapp-pgsql:
    driver: local
