includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/
        - tests/
        - routes/

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
            - '#PHPDoc tag @mixin contains unknown class App\\Models#'

    # Level 9 is the highest level
    level: 1
