includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - app-modules/
        - database/
        - tests/
        - routes/

    excludePaths:
        - app-modules/*/vendor/*

    scanFiles:
        - ./_ide_helper_models.php

    # Level 9 is the highest level
    level: 1
