parameters:
	ignoreErrors:
		-
			message: "#^Class Mockery_3_App_Models_User not found\\.$#"
			count: 1
			path: app-modules/authorization/tests/Feature/Actions/CreatePermissionsForModelTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 6
			path: app-modules/authorization/tests/Feature/Actions/CreatePermissionsForModelTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 7
			path: app-modules/authorization/tests/Feature/Actions/CreatePermissionsTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app-modules/authorization/tests/Feature/Actions/CreateRolesTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app-modules/authorization/tests/Feature/Console/Commands/SyncRolesAndPermissionsTest.php
