includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/tpetry/laravel-postgresql-enhanced/phpstan-extension.neon
    - ./phpstan-baseline.php

parameters:
    # This can be removed once we have fixed all errors in our baseline. But need to be here now, so we don't have to rebuild it in every new PR.
    reportUnmatchedIgnoredErrors: false

    paths:
        - app/
        - app-modules/
        - database/
        - tests/
        - routes/

    excludePaths:
        - app-modules/*/vendor/*

    scanFiles:
        - ./_ide_helper_models.php

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        - 
            message: '#Call to an undefined static method Illuminate\\Support\\Facades\\Queue::pushed\(\)#'
            reportUnmatched: false
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: app-modules/*/config/*
            reportUnmatched: false
