parameters:
	ignoreErrors:
		-
			message: "#^Class Mockery_3_App_Models_User not found\\.$#"
			count: 1
			path: app-modules/authorization/tests/Feature/Actions/CreatePermissionsForModelTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 6
			path: app-modules/authorization/tests/Feature/Actions/CreatePermissionsForModelTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 7
			path: app-modules/authorization/tests/Feature/Actions/CreatePermissionsTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app-modules/authorization/tests/Feature/Actions/CreateRolesTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app-modules/authorization/tests/Feature/Console/Commands/SyncRolesAndPermissionsTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 2
			path: app-modules/integration-ai/tests/Feature/BaseAIChatClientTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 4
			path: app-modules/integration-twilio/tests/Feature/Actions/MessageReceivedTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 3
			path: app-modules/integration-twilio/tests/Feature/Actions/TwilioWebhookProcessorTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 8
			path: app-modules/integration-twilio/tests/Feature/Http/Controllers/TwilioInboundWebhookControllerTest.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 4
			path: app-modules/integration-twilio/tests/Feature/Http/Middleware/EnsureTwilioRequestIsValidTest.php
