<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" failOnDeprecation="true">
    <testsuites>
        <testsuite name="Landlord">
            <directory suffix="Test.php">./tests/Landlord</directory>
        </testsuite>
        <testsuite name="Tenant">
            <directory suffix="Test.php">./tests/Tenant</directory>
        </testsuite>
        <testsuite name="ModulesLandlord">
            <directory suffix="Test.php">./app-modules/*/tests/Landlord</directory>
        </testsuite>
        <testsuite name="ModulesTenant">
            <directory suffix="Test.php">./app-modules/*/tests/Tenant</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="LANDLORD_APP_URL" value="http://advisingapp.local"/>
        <server name="APP_URL" value="http://test.advisingapp.local"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="AUDIT_QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <env name="DB_DATABASE" value="testing_landlord"/>
        <env name="TENANT_DB_HOST" value="advisingapp-pgsql"/>
        <env name="TENANT_DB_PORT" value="5432"/>
        <env name="TENANT_DB_DATABASE" value="testing_tenant"/>
        <env name="TENANT_DB_USERNAME" value="advisingapp"/>
        <env name="TENANT_DB_PASSWORD" value="password"/>
        <env name="AZURE_OPEN_AI_ENABLE_TEST_MODE" value="true"/>
        <env name="TWILIO_ENABLE_TEST_SENDER" value="true"/>
    </php>
</phpunit>
