name: CI

on:
    workflow_call:
        secrets:
            pat-token:
                required: true
    workflow_dispatch:

jobs:
    prep-and-code-consistency:
        runs-on: ubuntu-22.04

        timeout-minutes: 15

        env:
            php-extensions: gd, gmp, redis, mailparse
            php-extensions-key: ext-cache-20250820
            php-version: '8.4'

        outputs:
            php-extensions: ${{ env.php-extensions }}
            php-extensions-key: ${{ env.php-extensions-key }}
            php-version: ${{ env.php-version }}

        steps:
            - name: Checkout code | Internal
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  ref: ${{ github.head_ref }}
                  token: ${{ secrets.pat-token }}

            - name: Checkout code | External
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  ref: ${{ github.head_ref }}

            - name: Setup cache environment
              id: extcache
              uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c #1.13.0
              with:
                  php-version: ${{ env.php-version }}
                  extensions: ${{ env.php-extensions }}
                  key: ${{ env.php-extensions-key }}

            - name: Cache extensions
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: ${{ steps.extcache.outputs.dir }}
                  key: ${{ runner.os }}-phpext-${{ env.php-version }}-${{ env.php-extensions-key }}
                  restore-keys: ${{ runner.os }}-phpext-${{ env.php-version }}

            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: ${{ env.php-version }}
                  coverage: none
                  extensions: ${{ env.php-extensions }}

            - name: Validate Composer JSON
              run: composer validate --strict --no-check-all

            - name: Cache dependencies
              id: cache-composer
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: vendor
                  key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock', 'app-modules/**/composer.lock') }}

            - if: ${{ steps.cache-composer.outputs.cache-hit != 'true' }}
              name: Install Dependencies
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader
              shell: bash

            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #6.2.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - run: npm install

            - name: Set up Ruby
              uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd #1.288.0

            - name: Run Ruby Script
              run: ruby ./copyright.rb

            - name: Cache PHP CS Fixer
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: .php-cs-fixer.cache
                  key: ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-${{ github.run_id }}
                  restore-keys: |
                      ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-

            - name: Cache Prettier
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: ./node_modules/.cache/prettier/.prettier-cache
                  key: ${{ runner.OS }}-${{ github.repository }}-prettier-${{ github.run_id }}
                  restore-keys: |
                      ${{ runner.OS }}-${{ github.repository }}-prettier-

            - name: Run Formatters
              run: composer format

            - name: Commit changes
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 #7.1.0
              with:
                  commit_message: >
                      Update code formatting and copyright headers

            - name: Check for changes
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf #20.0.4
              with:
                  fail-if-changed: 'true'

    test:
        strategy:
            matrix:
                testsuite: [Landlord, Tenant]

        runs-on: ubuntu-22.04

        needs: [prep-and-code-consistency]

        env:
            DB_PORT: 5432
            DB_HOST: 127.0.0.1
            DB_USERNAME: root
            DB_PASSWORD: root
            DB_DATABASE: testing_landlord
            REDIS_HOST: 127.0.0.1

        timeout-minutes: 15

        services:
            postgres:
                # Docker Hub image
                image: postgres:15
                ports:
                    - 5432:5432
                # Provide the password for postgres
                env:
                    PGPASSWORD: ${{ env.DB_PASSWORD }}
                    POSTGRES_DB: ${{ env.DB_DATABASE }}
                    POSTGRES_USER: ${{ env.DB_USERNAME }}
                    POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
                # Set health checks to wait until postgres has started
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

            redis:
                image: redis
                ports:
                    - 6379:6379
                options: --health-cmd="redis-cli ping" --health-interval=10s --health-timeout=5s --health-retries=3

        steps:
            - name: Create tenant database
              run: psql -h 127.0.0.1 -d testing_landlord -U root -c 'CREATE DATABASE testing_tenant;'
              env:
                  PGPASSWORD: root

            - name: Setup cache environment
              id: extcache
              uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c #1.13.0
              with:
                  php-version: ${{ needs.prep-and-code-consistency.outputs.php-version }}
                  extensions: ${{ needs.prep-and-code-consistency.outputs.php-extensions }}
                  key: ${{ needs.prep-and-code-consistency.outputs.php-extensions-key }}

            - name: Cache extensions
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: ${{ steps.extcache.outputs.dir }}
                  key: ${{ runner.os }}-phpext-${{ needs.prep-and-code-consistency.outputs.php-version }}-${{ needs.prep-and-code-consistency.outputs.php-extensions-key }}
                  restore-keys: ${{ runner.os }}-phpext-${{ needs.prep-and-code-consistency.outputs.php-version }}

            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: ${{ needs.prep-and-code-consistency.outputs.php-version }}
                  coverage: none
                  extensions: ${{ needs.prep-and-code-consistency.outputs.php-extensions }}

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Copy .env
              run: php -r "file_exists('.env') || copy('.env.example', '.env');"

            - name: Cache dependencies
              id: cache-composer
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: vendor
                  key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock', 'app-modules/**/composer.lock') }}

            - if: ${{ steps.cache-composer.outputs.cache-hit != 'true' }}
              name: Install Dependencies
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader
              shell: bash

            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #6.2.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - run: npm install

            - name: Build Assets
              run: npm run build

            - name: Generate key
              run: php artisan key:generate

            - name: Cache Modular Modules
              run: php artisan modules:cache --env=testing

            - name: Cache Routes
              run: php artisan route:cache --env=testing

            - name: Cache Views
              run: php artisan view:cache --env=testing

            - name: Cache Events
              run: php artisan event:cache --env=testing

            - name: Cache Icons
              run: php artisan icons:cache --env=testing

            - name: Cache Filament Components
              run: php artisan filament:cache-components --env=testing

            - name: Check route integrity
              run: php artisan route:list

            - name: Execute tests (Unit and Feature tests) via PHPUnit
              run: php artisan test --configuration phpunit-ci.xml --parallel --testsuite=${{ matrix.testsuite }}

    lint:
        runs-on: ubuntu-22.04

        needs: [prep-and-code-consistency]

        env:
            DB_PORT: 5432
            DB_HOST: 127.0.0.1
            DB_USERNAME: root
            DB_PASSWORD: root
            DB_DATABASE: testing_landlord
            CACHE_DRIVER: array
            QUEUE_CONNECTION: sync
            AUDIT_QUEUE_CONNECTION: sync
            SESSION_DRIVER: array

        timeout-minutes: 15

        services:
            postgres:
                # Docker Hub image
                image: postgres:15
                ports:
                    - 5432:5432
                # Provide the password for postgres
                env:
                    PGPASSWORD: ${{ env.DB_PASSWORD }}
                    POSTGRES_DB: ${{ env.DB_DATABASE }}
                    POSTGRES_USER: ${{ env.DB_USERNAME }}
                    POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
                # Set health checks to wait until postgres has started
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        steps:
            - name: Setup cache environment
              id: extcache
              uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c #1.13.0
              with:
                  php-version: ${{ needs.prep-and-code-consistency.outputs.php-version }}
                  extensions: ${{ needs.prep-and-code-consistency.outputs.php-extensions }}
                  key: ${{ needs.prep-and-code-consistency.outputs.php-extensions-key }}

            - name: Cache extensions
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: ${{ steps.extcache.outputs.dir }}
                  key: ${{ runner.os }}-phpext-${{ needs.prep-and-code-consistency.outputs.php-version }}-${{ needs.prep-and-code-consistency.outputs.php-extensions-key }}
                  restore-keys: ${{ runner.os }}-phpext-${{ needs.prep-and-code-consistency.outputs.php-version }}

            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: ${{ needs.prep-and-code-consistency.outputs.php-version }}
                  coverage: none
                  extensions: ${{ needs.prep-and-code-consistency.outputs.php-extensions }}

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Copy .env
              run: php -r "file_exists('.env') || copy('.env.example', '.env');"

            - name: Cache dependencies
              id: cache-composer
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: vendor
                  key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock', 'app-modules/**/composer.lock') }}

            - if: ${{ steps.cache-composer.outputs.cache-hit != 'true' }}
              name: Install Dependencies
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader
              shell: bash

            - name: Generate key
              run: php artisan key:generate

            - name: Migrate Landlord Database
              run: php artisan migrate --database=landlord --path=database/landlord --force

            - name: Set up Tenant
              run: php artisan tenants:create test test.advisingapp.local -y

            - name: Generate Helper Files
              run: php artisan app:generate-helper-files

            - name: 'Restore result cache'
              uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              with:
                  path: tmp
                  key: 'linting-result-cache-${{ github.run_id }}'
                  restore-keys: |
                      linting-result-cache-

            - name: Run PHPStan
              run: ./vendor/bin/phpstan analyse --configuration phpstan-ci.neon --no-progress

            - name: 'Save result cache'
              uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #5.0.3
              if: ${{ !cancelled() }}
              with:
                  path: tmp
                  key: 'linting-result-cache-${{ github.run_id }}'

    renovate-config-validator:
        runs-on: ubuntu-latest
        timeout-minutes: 15
        container:
            image: ghcr.io/renovatebot/renovate:latest
            # github hosted runners are running as `1001:127` (ubuntu:docker)
            options: -u 1001:0 --group-add 1000 --group-add 12021 --group-add 127

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  show-progress: false

            - name: Validate Renovate configuration
              run: |
                  renovate-config-validator renovate-config.json
