name: Update Yearly Copyright

on:
    workflow_dispatch:
    schedule: # Run every year on January 1st
        - cron: '0 0 1 1 *' # UTC time

jobs:
    update-copyright:
        runs-on: ubuntu-22.04

        timeout-minutes: 10

        steps:
            - name: Checkout `main` Branch
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
              with:
                  token: ${{ secrets.PAT }}

            - name: Set up Ruby
              uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c #1.269.0

            - name: Run copyright script
              run: ruby ./copyright.rb

            - name: Create Pull Request
              # SHA of release v6.1.0
              uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 #7.0.11
              with:
                  token: ${{ secrets.PAT }}
                  commit-message: >
                      chore: update yearly copyright
                  title: Update yearly copyright
                  body: >
                      This is an automated pull request to update the yearly copyright.
                  branch: update-yearly-copyright-
                  branch-suffix: timestamp
                  team-reviewers: canyon-gbs-lead-developers
