name: Update Yearly Copyright

on:
    workflow_dispatch:
    schedule: # Run every year on January 1st
        - cron: '0 0 1 1 *' # UTC time

jobs:
    update-copyright:
        runs-on: ubuntu-22.04

        timeout-minutes: 10

        steps:
            - name: Checkout `main` Branch
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  token: ${{ secrets.PAT }}

            - name: Set up Ruby
              uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd #1.288.0

            - name: Run copyright script
              run: ruby ./copyright.rb

            - name: Create Pull Request
              # SHA of release v6.1.0
              uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 #8.1.0
              with:
                  token: ${{ secrets.PAT }}
                  commit-message: >
                      chore: update yearly copyright
                  title: Update yearly copyright
                  body: >
                      This is an automated pull request to update the yearly copyright.
                  branch: update-yearly-copyright-
                  branch-suffix: timestamp
                  team-reviewers: canyon-gbs-lead-developers
