name: Update Yearly Copyright

on:
    workflow_dispatch:
    schedule: # Run every year on January 1st
        - cron: '0 0 1 1 *' # UTC time

jobs:
    update-copyright:
        runs-on: ubuntu-22.04

        timeout-minutes: 10

        steps:
            - name: Checkout `main` Branch
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #6.0.0
              with:
                  token: ${{ secrets.PAT }}

            - name: Set up Ruby
              uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 #1.268.0

            - name: Run copyright script
              run: ruby ./copyright.rb

            - name: Create Pull Request
              # SHA of release v6.1.0
              uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 #7.0.9
              with:
                  token: ${{ secrets.PAT }}
                  commit-message: >
                      chore: update yearly copyright
                  title: Update yearly copyright
                  body: >
                      This is an automated pull request to update the yearly copyright.
                  branch: update-yearly-copyright-
                  branch-suffix: timestamp
                  team-reviewers: canyon-gbs-lead-developers
